/* root-start */
:root {
    --MR: Montserrat-Regular;
    --MM: Montserrat-Medium;
    --ML: Montserrat-Light;
    --MS: Montserrat-SemiBold;
    --SR: MarckScript-Regular;
    --white:#fff;
    --pink:#BF1E77;
    --grey:#545155;
    --bg-white:#FBF7F4;
}

/* category */
.category {
    max-width: 9768px;
    width: 100%;
    height: 1400px;
    border-radius: 20px 0px 0px 20px;
    background: var(--bg-white);
}

.category-bg__title-two {
    position: relative;
    z-index: -1;
}   

.category-cup {
    position: relative;
}

.category-cup__bigTitle {
    text-align: center;
    color:var(--white);
    font-family: var(--SR);
    font-size: 168px;
    line-height: 150%;
}

.category-cup__miniTitle {
    color: var(--grey);
    font-family: var(--MS);
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 195px;
}

.category-item {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category-item__two {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    gap: 20px;
}

.category-img {
    transition: all 500ms;
    max-width: 700px;
    width: 100%;
    height: 300px;
}

.category-img:hover {
    color: var(--pink);
}


/* category-end */